# A. Imports and initial setup

## A.1 import data

In [11]:
import numpy as np 
import pandas as pd 

from utils import get_stopwords, get_stemmer, tokenizer, data2idx
dataset_location='../development.json'
# dataset_location='../CorpusTrabalho4.zip'
df = pd.read_json(dataset_location, orient='records')
# print(df.count()) 9998
df.sample(10).head(10)

,description,id,title
6513,Vendas Loja Responsabilidades: Ira atuar com a...,6513,Vendas Loja
6929,Principais responsabilidades:\nSer responsavel...,6929,Vaga para Encarregado Administrativo
8282,Auxiliar Atendimento em\n Curitiba\...,8282,Auxiliar Atendimento
3992,Realizar a programacao de producao conforme fo...,3992,Analista de PCP
1751,Hospital Sao Lucas\n\n Coordenador ...,1751,Coordenador de Manutencao/ Engenharia
9442,Atendimento receptivo de Atendimento ao Client...,9442,Agente De Atendimento (SAC RN)
5909,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,5909,Vaga de Auxiliar De Escritorio
7963,"Gerenciamento de Produtos, Pessoas e Equipamen...",7963,Coordenador(a)
2962,Vendedor Local: Jundiai / SP Requisitos:- Com ...,2962,Vendedor
5067,"Next projetos e automacao industrial, empresa ...",5067,Vaga para Inspetor de Qualidade

## A.2 Stopwords

In [12]:
stopwords= list(get_stopwords())
ind = np.random.randint(0,len(stopwords), size=5)
print('total stop words are %d' % (len(stopwords)))
print([stopwords[i] for i in ind])

total stop words are 203
['estivesse', 'seja', 'serei', 'tinham', 'terei']

## A.3 Stemmer

In [13]:
stemmer= get_stemmer() 
words_test= ['Programador', 'Programa', 'pegaram', 'correram']
print('Before stemming:')
print(words_test)
print('After stemming:')
print([stemmer.stem(w) for w in words_test])

Before stemming:
['Programador', 'Programa', 'pegaram', 'correram']
After stemming:
['program', 'program', 'peg', 'corr']

## A.4 Tokenize the title

In [14]:
tokenfy = lambda x : tokenizer(x, stopwords= stopwords, stemmer=stemmer)
df['token_title'] = df['title'].transform(tokenfy)
df.sample(10).head(10)

,description,id,title,token_title
8309,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,8309,Vaga de Operador De Telemarketing,vag oper telemarketing
9130,Estoquista\nAlmoxarife (estoquista) ? vaga efe...,9130,Vaga para Estoquista,vag estoqu
1013,Descricao:-auxiliar nas tarefas diarias de lim...,1013,Oportunidade para Auxiliar de Servicos Gerais,oportun auxili servic ger
2411,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,2411,Vaga de Auxiliar De Eletrica em Joinville,vag auxili eletr joinvill
2023,A rede de franquias maria seleciona profissio...,2023,Vaga para Diarista,vag diarist
4489,Responsavel por garantir o meio de transporte ...,4489,Vaga para Supervisor de Transporte,vag supervisor transport
696,"Seguranca do trabalho, realizando treinamentos...",696,Tecnico em Seguranca do Trabalho,tecnic seguranc trabalh
6690,Porteiro Sao CristovaoFabrica em Sao Cristovao...,6690,Oferta de emprego - Porteiro Sao Cristovao,ofert empreg porteir sao cristova
689,\r\n \r\n Sobre a vaga \r\n\r\n\r\n D...,689,Vaga de Atendente De Call Center,vag atendent call cent
4626,A empresa baseada na venda direta de produtos ...,4626,Vaga para Vendedor Externo,vag vendedor extern

## A.5 Tokenize the description

In [15]:
df['token_description'] = df['description'].transform(tokenfy)
df.sample(10).head(10)

,description,id,title,token_title,token_description
588,Atividades Profissionais: Ministrar e prepara...,588,Professor de Italiano,professor italian,ativ profission ministr prepar aul mandarim ap...
9162,Local de trabalho: andarai ? rj (preferencia p...,9162,Vaga para Auxiliar de Servicos Gerais,vag auxili servic ger,local trabalh andara rj preferenc mor proxim ...
3935,A Raizen se destaca como uma das empresas de e...,3935,Analista Infraestrutura TI Sr - Storage,anal infraestrutur ti sr storag,raizen destac empres energ competit mund cinc ...
8343,Salario: compativel com a funcao beneficios ...,8343,Vaga para Cozinheira,vag cozinheir,salari compativel funca benefici atrat plan ca...
1984,RJ – ESTOQUISTA DE LOJAEMPRESA DE GRANDE PORTE...,1984,RJ – Organizador de estoque DE LOJA,rj – organiz estoqu loj,rj – estoqu lojaempres grand port segment vare...
1238,Loja de parafusos esta com 2 vaga(s) em aberto...,1238,Vaga para Vendedor de Loja,vag vendedor loj,loj parafus 2 vag abert campin sprespons vend...
8306,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,8306,Vaga de Servente em Foz do Iguacu,vag servent foz iguacu,sobr vag descrica are especializaca profiss...
7320,Tecnico em contabilidade temporario de 6 meses...,7320,Vaga para Tecnico de Contabilidade,vag tecnic contabil,tecnic contabil temporari 6 mes efetivaca expe...
9718,Operador de sistemas da informacao ...,9718,Oferta de emprego - Operador de sistemas da in...,ofert empreg oper sistem informaca,oper sistem informaca oper sistem informacaoco...
3579,Trabalhar com atendimento ao público e telefon...,3579,Recepcionista,recepcion,trabalh atend públic telefon show room regia c...

In [21]:
import sys
def data2idx(data, word2idx):
	'''	
		Converts a token_description column to idx_description
	'''	
	nrows=data.shape[0]
	token_count=0
	for i in range(nrows):
		# import code; code.interact(local=dict(globals(), **locals()))
		indexes, word2idx= token2idx(data.loc[i,'token_description'], word2idx)
		token_count+=len(indexes)
		data.loc[i,'token_description']=" ".join([str(idx) for idx in indexes])
		
		sys.stdout.write('document:%d of %d\tVOCAB:%d\tWORD COUNT:%d\t\r' % (i, nrows, len(word2idx), token_count))
		sys.stdout.flush()
	data= data.rename(columns={'token_description': 'idx_description'})
	print()
	return data 

def token2idx(tokens, word2idx):
	nextidx= max(word2idx.values())+1 if len(word2idx)>0  else 0	
	indexes= [] 
	for t in tokens:
		if not(t in word2idx):
			word2idx[t]=nextidx; nextidx+=1
		indexes.append(word2idx[t]) 
	return indexes, word2idx

In [22]:
word2idx={}
testdf= data2idx(df, word2idx)
testdf.sample(10).head(10)

document:9997 of 9998	VOCAB:11	WORD COUNT:11270336

,description,id,title,token_title,idx_description
9967,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,9967,Vaga de Vendedor De Loja,vag vendedor loj,2 2 1 2 6 1 4 4 1 2 4 1 2 1 2 9 1 2 8 1 3 9 1 ...
3494,Atuar no setor de administracao de condominios...,3494,Assistente de Condominio,assistent condomini,2 8 1 3 4 1 3 3 1 2 1 2 2 1 2 3 1 3 4 1 2 6 1 ...
2313,Oportunidade para quem quer aprender a costura...,2313,Oportunidade para Arrematadeira,oportun arrematadeir,2 6 1 2 5 1 2 6 1 2 4 1 3 4 1 3 3 1 2 7 1 2 1 ...
1391,Sobre a vaga \r\n\r\n\r\n Descricao\r\n\r\n...,1391,Vaga de Vendedor em Rio de Janeiro,vag vendedor rio janeir,2 2 1 2 6 1 4 4 1 2 4 1 2 1 2 9 1 2 8 1 3 9 1 ...
6656,(adsbygoogle = window.adsbygoogle || []).push(...,6656,CONSULTOR COMERCIAL POR COMISSaO PARA CONSULTORIA,consultor comercial comissa consultor,2 8 1 3 0 1 2 2 1 4 4 1 4 2 1 3 9 1 2 6 1 2 6 ...
2382,Promotor de venda com motoEmpresa distribuidor...,2382,Vaga para Promotor,vag promotor,2 5 1 2 4 1 2 6 1 3 2 1 2 6 1 3 4 1 2 6 1 2 4 ...
4177,Executar testes em placas eletricas e eletroni...,4177,Tecnico Eletronico,tecnic eletron,2 3 1 3 10 1 2 3 1 3 5 1 3 3 1 3 4 1 2 1 3 4 1...
8108,area de atuacao:turismo e hotelaria,8108,Vaga para Ajudante de Lavanderia,vag ajud lavand,2 8 1 2 4 1 2 3 1 2 1 2 8 1 3 4 1 3 3 1 2 8 1 ...
2377,Auxiliar Administrativo PCD - BELO HORIZONTE -...,2377,Oferta de emprego - Auxiliar Administrativo PC...,ofert empreg auxili administr pcd bel horizo...,2 8 1 3 3 1 3 10 1 3 6 1 2 10 1 3 6 1 2 1 2 8 ...
9832,Vaga de Corretor de Seguros ...,9832,Oferta de Corretor de Seguros,ofert corretor segur,2 9 1 2 8 1 3 9 1 2 1 3 5 1 2 6 1 2 4 1 2 4 1 ...

In [7]:
df.head()

,description,id,title,token_title,idx_description
0,Auxilia nas rotinas do departamento administra...,0,Aprendiz Administrativo,aprendiz administr,0 1 2 3 4 5 6 7 8 3 9 5 10 11 12 0 6 8 5 0 10 ...
1,\r\n Sera responsavel pelo dese...,1,Programador(a),program,5 14 11 6 5 6 11 14 12 7 9 14 0 19 11 4 5 10 1...
2,Sera responsavel pelo desenvolvimento e manute...,2,Programador(a),program,14 11 6 5 6 11 14 12 7 9 14 0 19 11 4 5 10 11 ...
3,Realizar conciliacao de contas contabeis. Anal...,3,Estagiario(a) Contabilidade,estagiario contabil,6 11 0 4 3 21 5 15 7 9 15 3 4 3 0 15 0 5 15 7 ...
4,Realizar conciliacao de contas contabeis. Anal...,4,Estagiario(a) Contabilidade,estagiario contabil,6 11 0 4 3 21 5 15 7 9 15 3 4 3 0 15 0 5 15 7 ...

# Titles

## 1. Distinct

In [5]:
distinct_titles= set(df['title'])
distinct_token_titles= set(df['token_title'])
print('distinct titles %d' % (len(distinct_titles)))
print('distinct token titles %d' % (len(distinct_token_titles)))

distinct titles 3804
distinct token titles 3276

## 2. Frequency

In [6]:
dfpivot= df.pivot_table(index='token_title',values='title', aggfunc=len)
print('top 20 job postings')
dfpivot.sort_values('title',ascending=False).head(20)

top 20 job postings

                         title
token_title
vag vendedor               171
vag estagiari              137
vendedor                    96
vag consultor vend          76
vag auxili administr        66
vendedor extern             65
vag atendent                64
vag vendedor extern         63
vag auxili servic ger       57
vag auxili produca          48
vag assistent administr     47
oper caix                   44
auxili administr            42
consultor vend              40
vag represent comercial     39
vendedor intern             39
vag vendedor intern         38
vag corretor imov           38
vag consultor comercial     36
vag oper caix               36